[submodule "panda"]
	path = panda
	url = ../../SebastienLubrano/panda.git
        branch = spektor
[submodule "opendbc"]
	path = opendbc
	url = ../../SebastienLubrano/opendbc.git
[submodule "laika_repo"]
	path = laika_repo
	url = ../../commaai/laika.git
[submodule "cereal"]
	path = cereal
	url = ../../SebastienLubrano/cereal.git
        branch = spektor
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../commaai/rednose.git
